<% if @collabs.any? %>
  <h5>
    Top collabs
    <small class='text-muted'>
      <%= number_with_delimiter @collabs.length %>
    </small>
  </h5>
  <ul class="list-group mb-3">
    <% @collabs.sort_by(&:last).reverse.first(25).each do |user, count| %>
      <li class="list-group-item">
        <img src="https://github.com/<%= user %>.png" class="rounded mr-1" height='20' width='20'>
        <%= user %>
        <small class='text-muted'>
          <%= number_with_delimiter count %>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
