<p>
  <strong>
    <%= event.payload['issue']['title'] %>
  </strong>
</p>

<%= simple_format event.payload['issue']['body'] %>

<p>
  <%= link_to 'View on GitHub', event.payload['issue']['html_url'], target: :_blank %>
</p>
