<h5>
  <%= link_to event.payload['pull_request']['html_url'], target: :_blank do %>
    <%= event.payload['pull_request']['title'] %>
  <% end %>
</h5>

<%== parse_markdown event.payload['pull_request']['body'] %>
