<p>
  <%= event.payload['size'] %> commits to <%= link_to event.payload['ref'].gsub("refs/heads/", ''), "https://github.com/#{event.repository.full_name}/tree/#{event.payload['ref'].gsub("refs/heads/", '')}" %>
</p>

<ul>
  <% event.payload['commits'].each do |commit| %>
    <li>
      <%= commit['message'] %> <small class='text-muted'><%= commit['sha'][0..6] %></small>
    </li>
  <% end %>
  <% if event.payload['commits'].length != event.payload['size'] %>
    <li>and more ...</li>
  <% end %>
</ul>
