<h1>
  <% @page_title = "#{@package.platform.downcase}/#{@package.name} releases" %>
  <%= link_to "#{@package.platform.downcase}/#{@package.name}", @package %>
  releases
</h1>

<%= render @versions %>

<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
